<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dinamizadorlocal.com</title>
    <link rel="stylesheet" href="./css/main-landscape.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
</head>

<body>
        <!-- Header nav -->

        <article class="container default_article items-center md:flex">

            <!-- Left -->

            <section class="p-3 md:flex items-center">
                <a href="#" class="block mb-2 md:mr-6">
                    <span class="text-3xl font-bold text-blue-600">dinamizador</span>
                    <span class="text-3xl font-hairline text-gray-700">local.com</span>
                </a>
            </section>

            <!-- Right -->

            <section class="text-center">
                <a href="http://dinamizadorlocal.com/login" class="border border-gray-700 text-gray-700 px-3 py-2 rounded-full">Acceso dinamizadores</a>
            </section>
        </article>

        <!-- header -->

        <article class="container default_article items-center md:flex">
            <section class="p-3 md:w-4/5 lm:text-center">
                <p class="text-2xl font-bold text-blue-600 text-center md:text-left">Únete a nuestra red y trabaja como</p>
                <p class="text-5xl font-bold text-gray-700 text-center md:text-left">Dinamizador local</p>
                <p class="text-2xl text-gray-700 max-w-md text-justify">Gana dinero promocionando en internet a las empresas de tu ciudad.</p>
                <div class="max-w-md text-center my-8">
                    <a href="#contact-form" class="mt-10 mb-10 bg-blue-500 hover:bg-blue-400 text-white font-bold py-4 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded-full">
                        Solicita más información
                    </a>
                </div>
            </section>
            <section class="text-center">
                <img src="img/banner-header-local-dynamizer.png" alt="people market mobile art">
            </section>
        </article>

        <!-- Intro -->

        <article class="container default_article items-center">
            <section>
                <p class="text_header text-center">Emprende con nosotros desde tan solo 3.450 €</p>
            </section>
        </article>

        <!-- 4 rows - undertake with us -->

        <article class="container md:flex md:max-w-4xl ">
            <section class="flex p-2 md:w-1/4">
                <img class="inline-block w-12 h-12" src="img/work-on-remote.png" alt="Trabaja desde casa">
                <span class="text-gray-700 text-left ml-2">Trabaja desde casa</span>
            </section>
            <section class="flex p-2 md:w-1/4">
                <img class="inline-block w-12 h-12" src="img/clock.png" alt="reloj">
                <span class="text-gray-700 text-left ml-2">Tu propio horario de trabajo</span>
            </section>
            <section class="flex p-2 md:w-1/4">
                <img class="inline-block w-12 h-12" src="img/pov.png" alt="icono de localizacion">
                <span class="text-gray-700 text-left ml-2">Exclusividad de zona</span>
            </section>
            <section class="flex p-2 md:w-1/4">
                <img class="inline-block w-12 h-12" src="img/podium.png" alt="podio con estrella">
                <span class="text-gray-700 text-left ml-2">Ingresos recurrentes</span>
            </section>
        </article>

        <!-- What is a local dynamizer -->

        <article class="container default_article items-center">
            <section>
                <p class="text_header text-center">¿Qué es un dinamizador local?</p>
            </section>
            <section>
                <p class="text_default text-center">Un dinamizador local es la persona que se encarga de:</p>
            </section>
        </article>

        <!-- 2 rows - (1) Promo business of your city on social networks -->

        <article class="container md:flex md:max-w-4xl">
            <section class="md:w-1/6 pb-4 md:p-0">
                    <img class="w-auto p-4 mx-auto" src="img/one-circle.png" alt="uno">
            </section>
            <section class="md:w-5/6">
                <p class="text_header text-justify md:text-left">Promocionar a las empresas de tu ciudad en las redes sociales</p>
                <p class="text_default text-justify md:text-left">Para ello hemos desarrollado dos exclusivas herramientas que te ayudarán a mejorar la visibilidad online de las empresas de tu ciudad.</p>
            </section>
        </article>

        <!-- 2 rows - App for your city -->

        <article class="container md:flex content-center default_article items-center">
            <section class="md:w-2/5">
                <img class="mx-auto" src="img/phone-ad.png" alt="teléfono móvil con listado de negocios">
            </section>
            <section class="md:w-3/5">
                <p class="text_header text-justify md:text-left">Una App para tu ciudad</p>
                <p class="text_default text-left">Una app solo para tu ciudad donde podrás añadir a todas las empresas locales.<br></p>
                <ul class="ml-4 list-none">
                    <li class="flex p-2">
                        <img class="object-none object-top" src="img/done_outline-24px.svg" width="24" height="24"/>
                        <p class="ml-4">Dentro de la App cada negocio tendrá su propia ficha donde ofrecer toda la información de interés para sus clientes.</p>
                    </li>
                    <li class="flex p-2">
                        <img class="object-none object-top" src="img/done_outline-24px.svg" width="24" height="24"/>
                        <p class="ml-4">Bares y restaurantes podrán mostrar su carta digital y enlazarla mediante QR.</p>
                    </li>
                    <li class="flex p-2">
                        <img class="object-none object-top" src="img/done_outline-24px.svg" width="24" height="24"/>
                        <p class="ml-4">A través de la app las empresas pueden ofrecer la posibilidad de realizar reservas o pedir cita a cualquier servicio (Restaurantes, peluquerías, dentistas, etc...).</p>
                    </li>
                    <li class="flex p-2">
                        <img class="object-none object-top" src="img/done_outline-24px.svg" width="24" height="24"/>
                        <p class="ml-4">Acceso a promociones especiales.</p>
                    </li>
                </ul>
            </section>
        </article>
        
        <!-- 2 rows - Advanded plataform in the cloud -->

        <article class="container md:flex content-center default_article items-center">
            <section class="md:w-3/5">
                <p class="text_header text-justify md:text-left">Una avanzada plataforma en la nube desde la que te facilitamos tus tareas diarias<br></p>
                <ul class="ml-4 list-none">
                    <li class="flex p-2">
                        <img class="object-none object-top" src="img/done_outline-24px.svg" width="24" height="24"/>
                        <p class="ml-4">Calendario de publicaciones en redes sociales para los 365 días del año.</p>
                    </li>
                    <li class="flex p-2">
                        <img class="object-none object-top" src="img/done_outline-24px.svg" width="24" height="24"/>
                        <p class="ml-4">Plantillas optimizadas de contenidos para redes sociales y para todos los negocios, listos para publicar.</p>
                    </li>
                    <li class="flex p-2">
                        <img class="object-none object-top" src="img/done_outline-24px.svg" width="24" height="24"/>
                        <p class="ml-4">Gestión de clientes. Facturación e informes.</p>
                    </li>
                    <li class="flex p-2">
                        <img class="object-none object-top" src="img/done_outline-24px.svg" width="24" height="24"/>
                        <p class="ml-4">Zona formación, con tutoriales para la utilización de nuestras herramientas y servicios.</p>
                    </li>
                </ul>
            </section>
            <section class="md:w-2/5">
                <img class="mx-auto" src="img/laptop.png" alt="teléfono móvil con listado de negocios">
            </section>
        </article>

        <!-- 2 rows - (2) Easily digitalize business from your city -->

        <article class="container md:flex md:max-w-4xl">
            <section class="md:w-1/6 pb-4 md:p-0">
                    <img class="w-auto p-4 mx-auto" src="img/two-circle.png" alt="dos">
            </section>
            <section class="md:w-5/6">
                <p class="text_header text-justify md:text-left">Facilitar la digitalización de las empresas de tu ciudad</p>
                <p class="text_default text-justify md:text-left">A través de nuestra plataforma podrás ofrecer a las empresas de tu ciudad herramientas para la digitalización de servicios como:</p>
                <div class="flex my-8">
                    <div class="w-1/2 flex">
                        <img class="inline-block w-12 h-12" src="img/browser.png"" width="60">
                        <span class="text-gray-700 text-left ml-2">Creación de páginas Webs</span>
                    </div>
                    <div class="w-1/2 flex">
                        <img class="inline-block w-12 h-12" src="img/tpv.png"" width="60" alt="">
                        <span class="text-gray-700 text-left ml-2">TPV Bares y restaurantes</span>
                    </div>
                </div>
                <div class="flex my-8">
                    <div class="w-1/2 flex">
                        <img class="inline-block w-12 h-12" src="img/mobile-buy.png" width="45">
                        <span class="text-gray-700 text-left ml-2">Tiendas Online</span>
                    </div>
                    <div class="w-1/2 flex">
                        <img class="inline-block w-12 h-12" src="img/mobile-messaging.png" width="60" alt="">
                        <span class="text-gray-700 text-left ml-2">Plataformas de reparto de comida a domicilio</span>
                    </div>
                </div>
                <div class="flex my-8">
                    <div class="w-1/2 flex">
                        <img class="inline-block w-12 h-12" src="img/schedule.png"" width="60" alt="">
                        <span class="text-gray-700 text-left ml-2">Sistemas de reservas Online</span>
                    </div>
                    <div class="w-1/2 flex">
                        <img class="inline-block w-12 h-12" src="img/doc-ok.png" width="60" alt="">
                        <span class="text-gray-700 text-left ml-2">Software de gestión y facturación</span>
                    </div>
                </div>
            </section>
        </article>

    <article class="bg-mybghighter w-full">
        <section class="container default_article items-center max-w-4xl">
            <p class="p-1 text-2xl font-bold text-white text-center m-6 my-8">SELECCIONAMOS EMPRENDEDORES PARA CIUDADES ENTRE 10.000 Y 40.000 HABITANTES EN TODA ESPAÑA</p>
        </section>
        <section class="container default_article items-center max-w-6xl">
            <div class="container default_article md:flex justify-center">
                <section class="p-3 md:w-1/3 text-center">
                    <p class="p-1 text-2xl font-bold text-white text-center">UN MODELO DE NEGOCIO RENTABLE Y DE BAJA INVERSIÓN</p>
                    <p class="text-white text-center">Contarás con tu propia cartera de clientes, pudiendo gestionar más de una ciudad a la vez.</p>
                </section>
                <section class="p-3 md:w-1/3 text-center">
                    <p class="p-1 text-2xl font-bold text-white text-center">RÁPIDA AMORTIZACIÓN DE LA INVERSIÓN</p>
                    <p class="text-white text-center">Recupera tu inversión <span class="font-bold">en menos de 6 meses</span>.</p>
                </section>
                <section class="p-3 md:w-1/3 text-center">
                    <p class="p-1 text-2xl font-bold text-white text-center">NO NECESITAS FORMACIÓN</p>
                    <p class="text-white text-center">Nosotros nos encargamos de formarte para que puedas desarrollar tu trabajo de forma profesional.</p>
                </section>
            </div>
        </section>
        <section class="items-center bg-gray-200 w-full">
                <p class="text_default text-center font-bold mt-8">AHORA MAS QUE NUNCA</p>
        </section>
        <section class="main-carousel items-center bg-gray-200 w-full h-64" data-flickity='{ "cellAlign": "left", "contain": true, "draggable": ">1", "wrapAround": true, "autoPlay": true, "prevNextButtons": false }'>
            <div class="carousel-cell w-full">
                <p class="text_default text-center font-hairline">"El 80% de los empresarios y empresarias afirma tener dificultades para gestionar sus redes sociales"</p>
                <p class="text_default text-center font-bold">SalonSolutions</p>
            </div>
            <div class="carousel-cell w-full">
                <p class="text_default text-center font-hairline">"No tengo tiempo de gestionar mi empresa online"</p>
                <p class="text_default text-center font-bold">José Hernández (CEO)</p>
            </div>
            <div class="carousel-cell w-full">
                <p class="text_default text-center font-hairline">"Necesito una persona de confianza que me ayude en mi negocio"</p>
                <p class="text_default text-center font-bold">Rocket Stars</p>
            </div>
        </section>
    </article>

    <hr>
    <hr>
    <hr>
    <hr>
    <hr>

    <div class="p-2 md:p-10">

        <article class="container default_article items-center">
            <section>
                <p class="text_header text-center">Solicita más información</p>
            </section>
        </article>

        <!-- form -->

        <form id="contact-form" class="container items-center max-w-2xl" action="/submit-landing-form" method="post">
            <div class="md:flex md:items-center mb-6">
                <div class="md:w-1/3">
                    <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                        👤 Nombre *
                    </label>
                </div>
                <div class="md:w-2/3">
                    <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" name="name" type="text" placeholder="Nombre" required />
                </div>
            </div>
            <div class="md:flex md:items-center mb-6">
                <div class="md:w-1/3">
                    <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                        📱 Teléfono *
                    </label>
                </div>
                <div class="md:w-2/3">
                    <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" name="phone" type="tel" placeholder="Teléfono" required />
                </div>
            </div>
            <div class="md:flex md:items-center mb-6">
                <div class="md:w-1/3">
                    <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                        📬 Email *
                    </label>
                </div>
                <div class="md:w-2/3">
                    <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" name="email" type="email" placeholder="Email" required />
                </div>
            </div>
            <div class="md:flex md:items-center mb-6">
                <div class="md:w-1/3">
                    <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                        🏙 Ciudad de interés
                    </label>
                </div>
                <div class="md:w-2/3">
                    <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" name="city" type="text" list="spain-cities" placeholder="Ciudad de interés" />
                    <datalist id="spain-cities">
                        <option>Albacete</option>
                        <option>Alicante/Alacant</option>
                        <option>Almería</option>
                        <option>Araba/Álava</option>
                        <option>Asturias</option>
                        <option>Ávila</option>
                        <option>Badajoz</option>
                        <option>Balears, Illes</option>
                        <option>Barcelona</option>
                        <option>Bizkaia</option>
                        <option>Burgos</option>
                        <option>Cáceres</option>
                        <option>Cádiz</option>
                        <option>Cantabria</option>
                        <option>Castellón/Castelló</option>
                        <option>Ciudad Real</option>
                        <option>Córdoba</option>
                        <option>Coruña, A</option>
                        <option>Cuenca</option>
                        <option>Gipuzkoa</option>
                        <option>Girona</option>
                        <option>Granada</option>
                        <option>Guadalajara</option>
                        <option>Huelva</option>
                        <option>Huesca</option>
                        <option>Jaén</option>
                        <option>León</option>
                        <option>Lleida</option>
                        <option>Lugo</option>
                        <option>Madrid</option>
                        <option>Málaga</option>
                        <option>Murcia</option>
                        <option>Navarra</option>
                        <option>Ourense</option>
                        <option>Palencia</option>
                        <option>Palmas, Las</option>
                        <option>Pontevedra</option>
                        <option>Rioja, La</option>
                        <option>Salamanca</option>
                        <option>Santa Cruz de Tenerife</option>
                        <option>Segovia</option>
                        <option>Sevilla</option>
                        <option>Soria</option>
                        <option>Tarragona</option>
                        <option>Teruel</option>
                        <option>Toledo</option>
                        <option>Valencia/València</option>
                        <option>Valladolid</option>
                        <option>Zamora</option>
                        <option>Zaragoza</option>
                        <option>Ceuta</option>
                        <option>Melilla</option>                        
                      </datalist>
                </div>
            </div>
            <div class="md:flex md:items-center mb-6">
                <div class="md:w-1/3">
                    <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                        📝 Mensaje
                    </label>
                </div>
                <div class="md:w-2/3">
                    <textarea class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" name="message" rows="5" placeholder="Mensaje"></textarea>
                </div>
            </div>
            <div class="md:flex md:items-center mb-6">
                <div class="md:w-1/3"></div>
                <label class="md:w-2/3 block text-gray-500">
                    <a target="_blank" href="./pdf/politica_privacidad.pdf">📕 Leer los términos de uso y política de privacidad (pdf)</a>
                </label>
            </div>
            <div class="md:flex md:items-center mb-6">
                <div class="md:w-1/3"></div>
                <label class="md:w-2/3 block text-gray-500 font-bold">
                    <input class="mr-2 leading-tight" type="checkbox" id="chk_accept_privacy_policy">
                    <span class="text-sm">
                        Acepto los términos, condiciones de uso y política de privacidad de dinamizadorlocal.com
                    </span>
                </label>
            </div>
            <div class="mb-6">
                <div class="md:w-1/2"></div>
                <div class="md:w-2/2 text-gray-500 font-bold text-center">
                    <button class="w-auto p-4 shadow bg-blue-500 hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded-full" type="submit">
                        Enviar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <footer class="bg-mybghighter w-full">
        <p class="text-white text-center py-2 text-sm">Copyright ©2020 - Todos los derechos reservados</p>
        <p class="text-white text-center py-2 text-sm">Dev with ❤️ by <a target="_blank" href="https://es.linkedin.com/in/jmcerrejon/">José Manuel Cerrejón González 👈🏻</a></p>
    </footer>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script>
        document.querySelector('form').addEventListener('submit', event => {
            const isEnabledchkPrivacyPolicy = document.getElementById('chk_accept_privacy_policy').checked;
            if (!isEnabledchkPrivacyPolicy) {
                event.preventDefault();
                alert('Usted debe estar conforme con la política de privacidad.');
                return false;
            }
        });
    </script>
</body>

</html>