<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dinamizadorlocal.com</title>
    <meta property="og:title" content="Dinamizador Local" />
    <meta name="twitter:title" content="Dinamizador Local" />
    <meta name="description" content="Gana dinero promocionando en internet a las empresas de tu ciudad" />
    <meta property="og:description" content="Gana dinero promocionando en internet a las empresas de tu ciudad" />
    <meta name="twitter:description" content="Gana dinero promocionando en internet a las empresas de tu ciudad" />
    <meta name="og:site_name" content="Dinamizador Local" />
    <meta name="og:locale" content="es_ES" />
    <meta name="copyright" content="Llega Digital" />
    <meta name="author" content="Jose Manuel Cerrejon Gonzalez" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/main-landing.css">
    <link rel="stylesheet" href="./css/flickity.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
        <!-- Header nav -->

        <article class="container default_article items-center md:flex">

            <!-- Left -->

            <section class="p-3">
                <a href="https://dinamizadorlocal.com">
                    <span class="text-3xl font-bold text-myblue">dinamizador</span>
                    <span class="text-3xl font-hairline text-gray-700">local.com</span>
                </a>
            </section>

            <!-- Right -->

            <section class="text-center">
                <a href="http://dinamizadorlocal.com/login" class="border border-myblue text-myblue px-3 py-2 rounded-full">Acceso dinamizadores</a>
            </section>
        </article>

        <!-- header -->

        <article data-aos="slide-left" class="container default_article items-center md:flex">
            <section class="p-3 md:w-4/5">
                <p class="text-2xl font-bold text-myblue text-center lg:text-left">Únete a nuestra red y trabaja como</p>
                <p class="text-5xl font-bold text-gray-700 text-center lg:text-left">Dinamizador local</p>
                <p class="text-xl text-gray-700 max-w-md text-center lg:text-left">Gana dinero promocionando en internet a las empresas de tu ciudad.</p>
                <div class="my-12 text-center lg:text-left">
                    <a href="#contact-form" class="py-4 px-8 bg-myblue text-white font-bold rounded-full">
                        Más información
                    </a>
                </div>
            </section>
            <section class="items-center">
                <img class="w-auto p-4 mx-auto" src="images/landing/banner-header-local-dynamizer.png" alt="people market mobile art" width="514" height="367">
            </section>
        </article>

        <!-- Intro -->

        <article class="container my-8 justify-center w-screen">
            <section class="text-center">
                <img class="mx-auto" src="images/landing/crown.svg" alt="people market mobile art" width="47" height="29">
                <p class="md:w-1/4 w-64 inline-block text_default text-center">Emprende con nosotros desde tan solo 3.450 €</p>
            </section>
        </article>

        <!-- 4 rows - undertake with us -->

        <article class="container lg:flex">
            <section data-aos="slide-left" class="lg:w-1/4 border-gray box_undertake">
                <img class="mx-auto" src="images/landing/work-on-remote.svg" alt="Trabaja desde casa" width="80" height="80">
                <p class="w-1/2 p_undertake">Trabaja desde casa</p>
            </section>
            <section data-aos="slide-right" class="lg:w-1/4 border-gray box_undertake">
                <img class="mx-auto" src="images/landing/clock.svg" alt="reloj" width="80" height="80">
                <p class="w-40 p_undertake">Tu propio horario de trabajo</p>
            </section>
            <section data-aos="slide-left" class="lg:w-1/4 border-gray box_undertake">
                <img class="mx-auto" src="images/landing/pov.svg" alt="icono de localizacion" width="80" height="80">
                <p class="w-1/2 p_undertake">Exclusividad de zona</p>
            </section>
            <section data-aos="slide-right" class="lg:w-1/4 border-gray box_undertake">
                <img class="mx-auto" src="images/landing/podium.svg" alt="podio con estrella" width="80" height="80">
                <p class="w-1/2 p_undertake">Ingresos recurrentes</p>
            </section>
        </article>

        <!-- What is a local dynamizer -->

        <article class="container default_article items-center">
            <section>
                <p class="text_header text-center">¿Qué es un dinamizador local?</p>
            </section>
            <section>
                <p class="text_default text-center">Es la persona que se encarga de:</p>
            </section>
        </article>

        <!-- 2 rows - (1) Promo business of your city on social networks -->

        <article class="container default_article">
            <section class="text-center lg:w-1/2 mx-auto">
                <img data-aos="flip-up" class="mx-auto my-10" src="images/landing/one-circle.png" alt="uno" width="80" height="80">
                <p class="inline-block text-lg font-bold text-myblue text-center">Promocionar a las empresas de tu ciudad en las redes sociales</p>
                <p class="inline-block text-center">Para ello hemos desarrollado dos exclusivas herramientas que te ayudarán a mejorar la visibilidad online de las empresas de tu ciudad.</p>
            </section>
        </article>

        <!-- 2 rows - App for your city -->

        <article class="container md:flex content-center default_article items-center">
            <section class="md:w-2/5">
                <img data-aos="zoom-in" class="mx-auto" src="images/landing/phone-ad.png" alt="teléfono móvil con listado de negocios" width="396" height="396">
            </section>
            <section class="md:w-3/5">
                <p class="text_header text-center md:text-left">Una App para tu ciudad</p>
                <p class="text_default text-left">Una app solo para tu ciudad donde podrás añadir a todas las empresas locales.<br></p>
                <ul class="ml-4 list-none">
                    <li class="flex p-2">
                        <img class="checked_icon" src="images/landing/done_outline-24px.svg" alt="verificado" width="24" height="24"/>
                        <p class="ml-4">Dentro de la App cada negocio tendrá su propia ficha donde ofrecer toda la información de interés para sus clientes.</p>
                    </li>
                    <li class="flex p-2">
                        <img class="checked_icon" src="images/landing/done_outline-24px.svg" alt="verificado" width="24" height="24"/>
                        <p class="ml-4">Bares y restaurantes podrán mostrar su carta digital y enlazarla mediante QR.</p>
                    </li>
                    <li class="flex p-2">
                        <img class="checked_icon" src="images/landing/done_outline-24px.svg" alt="verificado" width="24" height="24"/>
                        <p class="ml-4">A través de la app las empresas pueden ofrecer la posibilidad de realizar reservas o pedir cita a cualquier servicio (Restaurantes, peluquerías, dentistas, etc...).</p>
                    </li>
                    <li class="flex p-2">
                        <img class="checked_icon" src="images/landing/done_outline-24px.svg" alt="verificado" width="24" height="24"/>
                        <p class="ml-4">Acceso a promociones especiales.</p>
                    </li>
                </ul>
            </section>
        </article>
        
        <!-- 2 rows - Advanded plataform in the cloud -->

        <article class="container md:flex content-center default_article items-center">
            <section class="md:w-3/5">
                <p class="text_header text-center md:text-left">Una avanzada plataforma en la nube desde la que te facilitamos tus tareas diarias<br></p>
                <ul class="ml-4 list-none">
                    <li class="flex p-2">
                        <img class="checked_icon" src="images/landing/done_outline-24px.svg" alt="verificado" width="24" height="24"/>
                        <p class="ml-4">Calendario de publicaciones en redes sociales para los 365 días del año.</p>
                    </li>
                    <li class="flex p-2">
                        <img class="checked_icon" src="images/landing/done_outline-24px.svg" alt="verificado" width="24" height="24"/>
                        <p class="ml-4">Plantillas optimizadas de contenidos para redes sociales y para todos los negocios, listos para publicar.</p>
                    </li>
                    <li class="flex p-2">
                        <img class="checked_icon" src="images/landing/done_outline-24px.svg" alt="verificado" width="24" height="24"/>
                        <p class="ml-4">Gestión de clientes. Facturación e informes.</p>
                    </li>
                    <li class="flex p-2">
                        <img class="checked_icon" src="images/landing/done_outline-24px.svg" alt="verificado" width="24" height="24"/>
                        <p class="ml-4">Zona formación, con tutoriales para la utilización de nuestras herramientas y servicios.</p>
                    </li>
                </ul>
            </section>
            <section class="md:w-2/5">
                <img data-aos="flip-up" class="mx-auto" src="images/landing/laptop.svg" alt="teléfono móvil con listado de negocios" width="396" height="236">
            </section>
        </article>

        <!-- 2 rows - (2) Easily digitalize business from your city -->

        <article class="container default_article">
            <section class="text-center lg:w-1/2 mx-auto">
                <img data-aos="flip-up" class="mx-auto w-20 my-10" src="images/landing/two-circle.png" alt="dos" width="80" height="80">
                <p class="inline-block text-lg font-bold text-myblue text-center">Facilitar la digitalización de las empresas de tu ciudad</p>
                <p class="inline-block text-center my-4">A través de nuestra plataforma podrás ofrecer a las empresas de tu ciudad herramientas para la digitalización de servicios como:</p>
            </section>
        </article>

        <article class="container lg:flex">
            <div class="p-8 lg:w-1/3 text-center">
                <img data-aos="zoom-in-up" class="mx-auto h-20" src="images/landing/browser.svg" width="75" height="75" alt="navegador">
                <p class="w-40 p_two_box">Creación de páginas Webs</p>
            </div>
            <div class="p-8 lg:w-1/3 text-center">
                <img data-aos="zoom-in-up" class="mx-auto h-20" src="images/landing/tpv.svg" width="75" height="75" alt="tpv">
                <p class="w-40 p_two_box">TPV Bares y restaurantes</p>
            </div>
            <div class="p-8 lg:w-1/3 text-center">
                <img data-aos="zoom-in-up" class="mx-auto h-20" src="images/landing/mobile-buy.svg" alt="icono de localizacion" width="75" height="75" alt="compra móvil">
                <p class="w-1/2 p_two_box">Tiendas Online</p>
            </div>
        </article>

        <article class="container lg:flex">
            <div class="p-8 lg:w-1/3 text-center">
                <img data-aos="zoom-in-up" class="mx-auto h-20" src="images/landing/mobile-messaging.svg" width="75" height="75" alt="móvil enviando mensaje">
                <p class="w-40 p_two_box">Plataformas de reparto de comida a domicilio</p>
            </div>
            <div class="p-8 lg:w-1/3 text-center">
                <img data-aos="zoom-in-up" class="mx-auto h-16" src="images/landing/schedule.svg" width="75" height="75" alt="calendario">
                <p class="w-40 p_two_box">Sistemas de reservas Online</p>
            </div>
            <div class="p-8 lg:w-1/3 text-center">
                <img data-aos="zoom-in-up" class="mx-auto h-16" src="images/landing/doc-ok.svg" alt="icono de localizacion" width="75" height="75" alt="factura">
                <p class="w-1/2 p_two_box">Software de gestión y facturación</p>
            </div>
        </article>
     
    <article class="bg-gray-100 w-full">
        <section class="container default_article items-center max-w-4xl">
            <p class="p-1 text-2xl font-medium text-gray-900 text-center m-6 my-8">Seleccionamos emprendedores para ciudades de entre 10.000 y 40.000 habitantes en toda España</p>
        </section>
        <section class="container default_article items-center max-w-6xl">
            <div class="container default_article md:flex justify-center">
                <section class="p-3 md:w-1/3">
                    <div>
                        <img class="mx-auto h-20" src="images/landing/arrow.svg" alt="icono de localizacion" width="80" height="80" alt="diana y flecha">
                    </div>
                    <div class="md:h-12 md:h-24">
                        <p class="my-4 text-md lg:h-8 font-semibold text-myblue text-center">Un modelo de negocio rentable y de baja inversión</p>
                    </div>
                    <div>
                        <p class="text-gray-700 text-center">Contarás con tu propia cartera de clientes, pudiendo gestionar más de una ciudad a la vez.</p>
                    </div>
                </section>
                <section class="p-3 md:w-1/3 text-center">
                    <div>
                        <img class="mx-auto h-20" src="images/landing/time-goes-back.svg" alt="icono de localizacion" width="80" height="80" alt="cronómetro">
                    </div>
                    <div class="md:h-12 md:h-24">
                        <p class="my-4 text-md lg:h-8 font-semibold text-myblue text-center">Rápida amortización de la inversión</p>
                    </div>
                    <div>
                        <p class="text-gray-700 text-center">Recupera tu inversión <span class="font-bold">en menos de 6 meses</span>.</p>
                    </div>
                </section>
                <section class="p-3 md:w-1/3 text-center">
                    <div>
                        <img class="mx-auto h-20" src="images/landing/glasses-book.svg" alt="icono de localizacion" width="80" height="80" alt="gafas encima de libro">
                    </div>
                    <div class="md:h-12 md:h-24">
                        <p class="my-4 text-md lg:h-8 font-semibold text-myblue text-center">No necesitas formación</p>
                    </div>
                    <div>
                        <p class="text-gray-700 text-center">Nosotros nos encargamos de formarte para que puedas desarrollar tu trabajo de forma profesional.</p>
                    </div>
                </section>
            </div>
        </section>
    </article>
    <article class="bg-gradient-to-b from-myblue-top-bg via-myblue-medium-bg to-myblue-bottom-bg">
    <!-- <article class="bg-blue-600 bg-slide-blue"> -->
        <section class="items-center p-1">
            <p class="p_carousel_subtitle mt-8">AHORA MAS QUE NUNCA</p>
            <div class="items-center my-8 h-24" data-flickity='{ "cellAlign": "left", "contain": true, "draggable": ">1", "wrapAround": true, "autoPlay": 6000, "prevNextButtons": false }'>
                <div class="carousel-cell w-full">
                    <p class="p_carousel_title">"El 80% de los empresarios y empresarias afirma tener dificultades para gestionar sus redes sociales"</p>
                    <p class="p_carousel_subtitle">SalonSolutions</p>
                </div>
                <div class="carousel-cell w-full">
                    <p class="p_carousel_title">"El 71% de las personas que tienen una buena impresión de una red social de una empresa, acostumbran a recomendarla a familiares y amigos"</p>
                    <p class="p_carousel_subtitle">Lifemarketing</p>
                </div>
                <div class="carousel-cell w-full">
                    <p class="p_carousel_title">"El 91% de los adultos con acceso a internet usa las redes sociales regularmente"</p>
                    <p class="p_carousel_subtitle">Hubspot</p>
                </div>
                <div class="carousel-cell w-full">
                    <p class="p_carousel_title">"Es 3 veces más sencillo captar nuevos clientes en las redes sociales que con otras vías."</p>
                    <p class="p_carousel_subtitle">Adobe 2018</p>
                </div>
                <div class="carousel-cell w-full">
                    <p class="p_carousel_title">"El 54% de los consumidores afirma usar las redes sociales para encontrar nuevos servicios, empresas y productos"</p>
                    <p class="p_carousel_subtitle">GlobalWebIndex, CEO @ Caramal Digital Studio</p>
                </div>
                <div class="carousel-cell w-full">
                    <p class="p_carousel_title">"Las personas pasan de media 3 horas al día en las redes sociales y mensajería."</p>
                    <p class="p_carousel_subtitle">GlobalWebIndex, 2019</p>
                </div>
            </div>
        </section>
    </article>

    <div class="p-2 md:p-10 container default_article items-center">
        <p class="text_header text-center">Solicita más información</p>

        <!-- form -->

        <form id="contact-form" class="container max-w-2xl" action="/submit-landing-form" method="post">
            <div class="mb-6">
                <label class="block text-gray-700 font-semibold mb-1 md:mb-0 pr-4" for="name">
                    Nombre <span class="text-myblue">*</span>
                </label>
                <input class="input_form border-gray focus:outline-none focus:bg-white focus:border-purple-500" id="name" name="name" type="text" placeholder="Su nombre" required />
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 font-semibold mb-1 md:mb-0 pr-4" for="phone">
                        Teléfono <span class="text-myblue">*</span>
                </label>
                <input class="input_form border-gray focus:outline-none focus:bg-white focus:border-purple-500" id="phone" name="phone" type="tel" placeholder="xxx xxx xxx" required />
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 font-semibold mb-1 md:mb-0 pr-4" for="email">
                    Email <span class="text-myblue">*</span>
                </label>
                <input class="input_form border-gray focus:outline-none focus:bg-white focus:border-purple-500" id="email" name="email" type="email" placeholder="ejemplo@dominio.com" required />
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 font-semibold mb-1 md:mb-0 pr-4" for="city">
                    Ciudad de interés
                </label>
                <input class="border border-gray shadow appearance-none border-2 border-gray-200 rounded md:w-1/2 w-full py-2 mt-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="city" name="city" type="text" list="spain-cities" placeholder="Ciudad de interés" />
                <datalist id="spain-cities">
                    <option>Albacete</option>
                    <option>Alicante/Alacant</option>
                    <option>Almería</option>
                    <option>Araba/Álava</option>
                    <option>Asturias</option>
                    <option>Ávila</option>
                    <option>Badajoz</option>
                    <option>Balears, Illes</option>
                    <option>Barcelona</option>
                    <option>Bizkaia</option>
                    <option>Burgos</option>
                    <option>Cáceres</option>
                    <option>Cádiz</option>
                    <option>Cantabria</option>
                    <option>Castellón/Castelló</option>
                    <option>Ciudad Real</option>
                    <option>Córdoba</option>
                    <option>Coruña, A</option>
                    <option>Cuenca</option>
                    <option>Gipuzkoa</option>
                    <option>Girona</option>
                    <option>Granada</option>
                    <option>Guadalajara</option>
                    <option>Huelva</option>
                    <option>Huesca</option>
                    <option>Jaén</option>
                    <option>León</option>
                    <option>Lleida</option>
                    <option>Lugo</option>
                    <option>Madrid</option>
                    <option>Málaga</option>
                    <option>Murcia</option>
                    <option>Navarra</option>
                    <option>Ourense</option>
                    <option>Palencia</option>
                    <option>Palmas, Las</option>
                    <option>Pontevedra</option>
                    <option>Rioja, La</option>
                    <option>Salamanca</option>
                    <option>Santa Cruz de Tenerife</option>
                    <option>Segovia</option>
                    <option>Sevilla</option>
                    <option>Soria</option>
                    <option>Tarragona</option>
                    <option>Teruel</option>
                    <option>Toledo</option>
                    <option>Valencia/València</option>
                    <option>Valladolid</option>
                    <option>Zamora</option>
                    <option>Zaragoza</option>
                    <option>Ceuta</option>
                    <option>Melilla</option>                        
                </datalist>
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 font-semibold mb-1 md:mb-0 pr-4" for="message">
                    Mensaje
                </label>
                <textarea class="input_form border-gray focus:outline-none focus:bg-white focus:border-purple-500" id="message" name="message" rows="5" placeholder="Escrbiba su mensaje"></textarea>
            </div>
            <div class="mb-6 flex items-center">
                <div class="w-1/4"></div>
                <a class="flex md:ml-8" target="_blank" href="./pdf/politica_privacidad.pdf">
                    <img class="w-4" src="images/landing/pdf.svg" width="16" height="24" alt="icono pdf">
                    <span class="ml-2">Leer protección de datos (pdf)</span>
                </a>
            </div>
            <div class="mb-6 flex items-center">
                <div class="w-1/2">
                    <label class="block text-gray-500 font-bold">
                        <input class="mr-2 leading-tight" type="checkbox" id="chk_accept_privacy_policy">
                        <span class="text-sm">
                            Acepto la ley de protección de datos
                        </span>
                    </label>
                </div>
                <div class="w-1/2">
                    <p class="text-myblue text-right">*Campos obligatorios</p>
                </div>
            </div>
            <div class="mb-6">
                <div class="md:w-1/2"></div>
                <div class="md:w-2/2 text-gray-500 font-bold text-center">
                    <button class="py-3 px-16 bg-myblue text-white font-semibold rounded-full" type="submit">
                        Enviar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <footer class="bg-mybghighter w-full h-32 items-center">
        <p class="text-white text-center py-6 text-sm">Copyright ©2020 - Todos los derechos reservados</p>
    </footer>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
        document.querySelector('form').addEventListener('submit', event => {
            const isEnabledchkPrivacyPolicy = document.getElementById('chk_accept_privacy_policy').checked;
            if (!isEnabledchkPrivacyPolicy) {
                event.preventDefault();
                alert('Usted debe estar conforme con la política de privacidad.');
                return false;
            }
        });
    </script>
</body>

</html>