.modal {
    transition: opacity 0.25s ease;
}
#container.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}
/* Fix datatable font in front of modals */
.dataTable-sorter {
    position:inherit;
}
